#Output.txt
__pycache__/
#bayesian_opt_msan_3.txt
#history_isic_2017_drrmsan.csv
#history_isic_2017_drrmsan.json
isic_2017_drrmsan_150e.h5
isic_2017_drrmsan_with_weight_150e.h5
logs/
model_checkpoint/
models/
results/

